MVC View sample
@{
    var list = new List<int> { 1, 2, 3, 4 };
    var pageHelper = new PageHelper(list.Count, 1);
}
@while (pageHelper.NextPage())
{
    <div class="container">
        Page: @pageHelper.CurrentPage
        @while (pageHelper.NextItem())
        {
            <div class="record">Record: @pageHelper.CurrentRecord</div>
        }
    </div>
}
